<app-navbar></app-navbar>

<mat-card-actions class="actions">
  <button
    mat-button
    color="primary"
    routerLink="create"
  >
    Créer un article
  </button>
      <button mat-icon-button (click)="sortArticlesByDate()">
      Trier
      <mat-icon>arrow_downward</mat-icon>
    </button>

</mat-card-actions>

<div class="articles-container">
  <mat-grid-list cols="2" gutterSize="5px" rowHeight="200px">
    <mat-grid-tile *ngFor="let article of articles$ | async">
      <mat-card class="article-card"
      [class.clickable]="true"
        (click)="(goToDetail(article.id))"
      >
        <mat-card-header>
          <mat-card-title>{{ article.title }}</mat-card-title>
          <mat-card-subtitle>
            {{ article.created_at | date: 'MMM d, y' }} — {{ article.authorName }}
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          {{ article.content | slice:0:120 }}...
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
