<div class="articles-container">
  <mat-grid-list cols="3" gutterSize="16px" rowHeight="200px">
    <mat-grid-tile *ngFor="let article of articles$ | async">
      <mat-card class="article-card"
      [class.clickable]="true"
        (click)="(goToDetail(article.id))"
      >
        <mat-card-header>
          <mat-card-title>{{ article.title }}</mat-card-title>
          <mat-card-subtitle>
            {{ article.created_at | date: 'MMM d, y' }} — {{ article.authorName }}
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          {{ article.content | slice:0:120 }}...
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
