.article-card {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border: 1px solid #fcfcfc;
  width: 500px;
  height: 200px;
}

.actions {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

:host ::ng-deep .mat-card-header-text {
  margin: 0 !important;
}

.mat-button {
  background-color: #7e57c2;
  color: #fff;
}


.article-card.clickable {
  cursor: pointer;
  transition: box-shadow 0.2s;
}

.articles-container {
   margin-inline: 300px;
   padding-bottom: 50px;
}

.mat-card-title {
    margin-bottom: 35px !important;
}
