/* Card desktop */
.article-card {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  background-color: #F5F5F5;
  border: 1px solid #fcfcfc;
  width: 500px;         /* desktop */
  height: 200px;
}

/* Grid : 2 colonnes par défaut, gap 15px */
.articles-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  justify-items: center; /* centre les cards horizont. */
}

/* Tile wrapper pour gérer largeur des cards */
.article-tile {
  width: 100%;
  display: flex;
  justify-content: center;
}

.sort-btn{
  background-color: white !important;
  color: black !important
}

.actions {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

mat-card-actions {
  margin-inline: 0px !important
}

:host ::ng-deep .mat-card-header-text {
  margin: 0 !important;
}

.mat-button {
  background-color: #7e57c2;
  color: #fff;
}


.article-card.clickable {
  cursor: pointer;
  transition: box-shadow 0.2s;
}

.articles-container {
   margin-inline: 300px;
   padding-bottom: 50px;
}

.mat-card-title {
    margin-bottom: 35px !important;
}


/* Responsive: téléphone (<=600px) */
@media (max-width: 600px) {
  .articles-container {
    margin-inline: 5px;    /* margin à 0 sur téléphone */
    padding: 20px 10px;
  }

  .articles-grid {
    grid-template-columns: 1fr; /* 1 colonne */
  }

  .article-card {
    width: 90%;      /* 90% de la largeur sur téléphone */
    height: auto;    /* laisse texte s'adapter */
    margin: 0 auto;  /* centre */
  }

  .actions {
    flex-direction: column;
    gap: 8px;
    align-items: center !important;

  }
}
