<nav class="navbar">
  <!-- Logo -->
  <div class="navbar-logo">
    <img src="assets/logo_p6.png" alt="Logo MDD" />
  </div>

  <!-- Navigation centrale -->
  <ul *ngIf="showNavbarDetails()" class="navbar-links">
    <li><a routerLink="/articles" routerLinkActive="active">Articles</a></li>
    <li><a routerLink="/subjects" routerLinkActive="active">Thèmes</a></li>
  </ul>

  <!-- Actions utilisateur -->
  <div *ngIf="showNavbarDetails()" class="navbar-actions">
    <a class="logout" (click)="logout()">Se déconnecter</a>
    <a routerLink="/me" class="profile-circle">
      <mat-icon>account_circle</mat-icon>
    </a>
  </div>
</nav>
