.article-form {
  display: flex;
  justify-content: center; /* centre horizontalement */
  padding-top: 40px;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 400px;
  max-width: 90%;
}

.full-width {
  width: 100%;
}

button {
  align-self: center;
}
