 <mat-card class="article-card">
  <mat-card-header>
    <mat-card-title>{{ title }}</mat-card-title>
    <mat-card-subtitle *ngIf="isArticle">
      {{ date | date: 'MMM d, y' }} — {{ author }}
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    {{ content | slice:0:120 }}...
  </mat-card-content>
  <mat-card-actions *ngIf="!isArticle">
    <button mat-button (click)="toggleSubscription.emit()">
      {{ subscribed ? 'Se désabonner' : 'S’abonner' }}
    </button>
  </mat-card-actions>
</mat-card>
